* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins-Regular"), url(../fonts/Poppins-Regular.woff2) format("woff2"), url(../fonts/Poppins-Regular.woff) format("woff")
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins-Bold"), url(../fonts/Poppins-Bold.woff2) format("woff2"), url(../fonts/Poppins-Bold.woff) format("woff")
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Poppins-Medium"), url(../fonts/Poppins-Medium.woff2) format("woff2"), url(../fonts/Poppins-Medium.woff) format("woff")
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 11px
  }
}

body {
  background-color: #05041e
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Poppins;
  min-height: 100vh;
  overflow: hidden
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 80px
}

@media (max-width:991px) {
  main:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  main:not(:last-child) {
    margin-bottom: 20px
  }
}

.header {
  padding: 20px 0
}

@media (max-width:991px) {
  .header {
    padding: 15px 0
  }
}

@media (max-width:600px) {
  .header {
    padding: 8px 0 11px 0
  }
}

@media (max-width:600px) {
  .header__container {
    padding: 0 24px
  }
}

.logo {
  display: block;
  width: 120px;
  height: 48px
}

@media (max-width:991px) {
  .logo {
    width: 85px;
    height: 40px
  }
}

@media (max-width:600px) {
  .logo {
    width: 55px;
    height: 25px
  }
}

@media (max-width:400px) {
  .logo {
    width: 49px;
    height: 19px
  }
}

.logo_header svg {
  fill: #00e5f9
}

.logo_footer {
  margin: 0 auto
}

.logo_footer svg {
  fill: #575757
}

.logo_footer:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:991px) {
  .logo_footer:not(:last-child) {
    margin-bottom: 10px
  }
}

@media (max-width:600px) {
  .logo_footer:not(:last-child) {
    margin-bottom: 1px
  }
}

.logo svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.hero:not(:last-child) {
  margin-bottom: 80px
}

@media (max-width:991px) {
  .hero:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .hero:not(:last-child) {
    margin-bottom: 6px
  }
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px
}

@media (max-width:991px) {
  .hero__content {
    min-height: 500px
  }
}

@media (max-width:600px) {
  .hero__content {
    min-height: 350px
  }
}

@media (max-width:400px) {
  .hero__content {
    min-height: 223px
  }
}

.hero__descr {
  padding: 30px 0 0 0;
  max-width: 650px
}

@media (max-width:991px) {
  .hero__descr {
    padding: 15px 0 0 0;
    max-width: 450px
  }
}

@media (max-width:600px) {
  .hero__descr {
    padding: 10px 0 0 0;
    max-width: 350px
  }
}

@media (max-width:400px) {
  .hero__descr {
    padding: 5px 0 0 0;
    max-width: 206px
  }
}

.hero__title {
  font-weight: 700;
  text-align: center;
  color: #fff;
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase
}

@media (max-width:991px) {
  .hero__title {
    font-size: 26px;
    line-height: 36px
  }
}

@media (max-width:600px) {
  .hero__title {
    font-size: 20px;
    line-height: 28px
  }
}

@media (max-width:400px) {
  .hero__title {
    font-size: 14px;
    line-height: 22px
  }
}

.hero__title:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .hero__title:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .hero__title:not(:last-child) {
    margin-bottom: 2px
  }
}

.hero__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #fff
}

@media (max-width:991px) {
  .hero__text {
    font-size: 18px;
    line-height: 20px
  }
}

@media (max-width:600px) {
  .hero__text {
    font-size: 14px;
    line-height: 16px
  }
}

@media (max-width:400px) {
  .hero__text {
    font-size: 8px;
    line-height: 12px
  }
}

.about {
  position: relative;
  padding-bottom: 60px
}

@media (max-width:600px) {
  .about {
    padding-bottom: 40px
  }
}

@media (max-width:400px) {
  .about {
    padding-bottom: 20px
  }
}

.about:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .about:not(:last-child) {
    margin-bottom: 10px
  }
}

@media (max-width:600px) {
  .about:not(:last-child) {
    margin-bottom: 7px
  }
}

.about__top:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .about__top:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .about__top:not(:last-child) {
    margin-bottom: 10px
  }
}

.about__circle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 470px;
  height: 600px
}

@media (max-width:991px) {
  .about__circle {
    width: 270px;
    height: 346px
  }
}

@media (max-width:600px) {
  .about__circle {
    width: 200px;
    height: 260px
  }
}

@media (max-width:400px) {
  .about__circle {
    width: 148px;
    height: 184px
  }
}

.about__circle img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.about__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #00e5f9;
  text-transform: uppercase
}

@media (max-width:991px) {
  .about__title {
    font-size: 18px;
    line-height: 24px
  }
}

@media (max-width:750px) {
  .about__title {
    font-size: 16px;
    line-height: 20px
  }
}

@media (max-width:600px) {
  .about__title {
    font-size: 14px;
    line-height: 18px
  }
}

@media (max-width:400px) {
  .about__title {
    font-size: 12px;
    line-height: 16px
  }
}

.about__title_align {
  text-align: center
}

.about__title:not(:last-child) {
  margin-bottom: 25px
}

@media (max-width:991px) {
  .about__title:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .about__title:not(:last-child) {
    margin-bottom: 10px
  }
}

@media (max-width:400px) {
  .about__title:not(:last-child) {
    margin-bottom: 4px
  }
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #fff
}

.about__text_align {
  text-align: center
}

@media (max-width:991px) {
  .about__text {
    font-size: 14px;
    line-height: 18px
  }
}

@media (max-width:750px) {
  .about__text {
    font-size: 12px;
    line-height: 16px
  }
}

@media (max-width:500px) {
  .about__text {
    font-size: 10px;
    line-height: 14px
  }
}

@media (max-width:400px) {
  .about__text {
    font-size: 7px;
    line-height: 10px
  }
}

.about__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px
}

@media (max-width:991px) {
  .about__middle {
    gap: 15px
  }
}

@media (max-width:700px) {
  .about__middle {
    gap: 5px
  }
}

@media (max-width:380px) {
  .about__middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

.about__middle:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .about__middle:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .about__middle:not(:last-child) {
    margin-bottom: 15px
  }
}

.about__wrapper-graph {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 550px;
  flex: 0 0 550px
}

@media (max-width:1220px) {
  .about__wrapper-graph {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 450px;
    flex: 0 0 450px
  }
}

@media (max-width:991px) {
  .about__wrapper-graph {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 350px;
    flex: 0 0 350px
  }
}

@media (max-width:700px) {
  .about__wrapper-graph {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px
  }
}

@media (max-width:650px) {
  .about__wrapper-graph {
    gap: 10px
  }
}

@media (max-width:500px) {
  .about__wrapper-graph {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 174px;
    flex: 0 0 174px;
    gap: 5px
  }
}

@media (max-width:380px) {
  .about__wrapper-graph {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 169px;
    width: 169px;
    width: 169px
  }
}

.about__desct-top:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .about__desct-top:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .about__desct-top:not(:last-child) {
    margin-bottom: 10px
  }
}

.about__desct {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 785px;
  flex: 0 1 785px
}

@media (max-width:380px) {
  .about__desct {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.about__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

@media (max-width:991px) {
  .about__bottom {
    gap: 15px
  }
}

@media (max-width:600px) {
  .about__bottom {
    gap: 10px
  }
}

@media (max-width:400px) {
  .about__bottom {
    gap: 2px
  }
}

@media (max-width:380px) {
  .about__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px
  }
}

.about__bottom-descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%
}

@media (max-width:380px) {
  .about__bottom-descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.about-matches {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 500px;
  flex: 0 0 500px;
  padding: 10px 15px
}

@media (max-width:991px) {
  .about-matches {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 350px;
    flex: 0 0 350px
  }
}

@media (max-width:600px) {
  .about-matches {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px
  }
}

@media (max-width:500px) {
  .about-matches {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 197px;
    flex: 0 0 197px;
    padding: 0 10px 0 15px
  }
}

@media (max-width:380px) {
  .about-matches {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding: 0 10px
  }
}

.about-matches__list {
  background-color: #f0f0f0;
  border: 1px solid #00e5f9;
  border-radius: 8px;
  padding: 10px
}

@media (max-width:991px) {
  .about-matches__list {
    padding: 8px
  }
}

@media (max-width:500px) {
  .about-matches__list {
    padding: 4px 5px
  }
}

.about-matches__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  background-color: #d9d9d9;
  border-radius: 3px;
  padding: 5px
}

@media (max-width:991px) {
  .about-matches__item {
    gap: 5px
  }
}

@media (max-width:500px) {
  .about-matches__item {
    gap: 2px;
    padding: 1px
  }
}

.about-matches__item:nth-child(1) {
  width: 110%;
  margin-left: -23px;
  -webkit-animation-name: animate-about-matches;
  animation-name: animate-about-matches;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

@media (max-width:991px) {
  .about-matches__item:nth-child(1) {
    width: 115%
  }
}

@media (max-width:600px) {
  .about-matches__item:nth-child(1) {
    width: 120%;
    margin-left: -20px
  }
}

@media (max-width:500px) {
  .about-matches__item:nth-child(1) {
    margin-left: -17px
  }
}

@media (max-width:380px) {
  .about-matches__item:nth-child(1) {
    margin-left: -14px
  }
}

.about-matches__item:not(:last-child) {
  margin-bottom: 10px
}

@media (max-width:991px) {
  .about-matches__item:not(:last-child) {
    margin-bottom: 5px
  }
}

@media (max-width:500px) {
  .about-matches__item:not(:last-child) {
    margin-bottom: 3px
  }
}

.about-matches__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #05041e;
  border-radius: 3px;
  overflow: hidden;
  padding: 5px
}

@media (max-width:991px) {
  .about-matches__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    height: 25px
  }
}

@media (max-width:500px) {
  .about-matches__logo {
    padding: 2px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 34px;
    flex: 0 0 34px;
    height: 14px
  }
}

.about-matches__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%
}

.about-matches__logo a img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.about-matches__sublist {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template: auto/repeat(3, 1fr);
  gap: 10px
}

@media (max-width:991px) {
  .about-matches__sublist {
    gap: 5px
  }
}

@media (max-width:500px) {
  .about-matches__sublist {
    gap: 1px
  }
}

.about-matches__subitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
  padding: 5px;
  background-color: #fff;
  border-radius: 3px;
  min-height: 25px
}

@media (max-width:991px) {
  .about-matches__subitem {
    gap: 10px;
    padding: 3px
  }
}

@media (max-width:600px) {
  .about-matches__subitem {
    gap: 5px
  }
}

@media (max-width:500px) {
  .about-matches__subitem {
    padding: 1px;
    gap: 7px;
    min-height: 14px
  }
}

.about-matches__subitem_align {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #00e5f9
}

.about-matches__subitem svg {
  display: block;
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

@media (max-width:991px) {
  .about-matches__subitem svg {
    width: 15px;
    height: 15px
  }
}

@media (max-width:500px) {
  .about-matches__subitem svg {
    width: 8px;
    height: 8px
  }
}

.about-matches__kf {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #05041e
}

@media (max-width:991px) {
  .about-matches__kf {
    font-size: 14px;
    line-height: 18px
  }
}

@media (max-width:600px) {
  .about-matches__kf {
    font-size: 12px;
    line-height: 16px
  }
}

@media (max-width:500px) {
  .about-matches__kf {
    font-size: 7px;
    line-height: 12px
  }
}

@-webkit-keyframes animate-about-matches {
  0% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg)
  }

  50% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg)
  }

  100% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg)
  }
}

@keyframes animate-about-matches {
  0% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg)
  }

  50% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg)
  }

  100% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg)
  }
}

.about-info {
  background-color: #4b4f52;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  border-radius: 4px;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: auto;
  margin-left: -100px
}

@media (max-width:650px) {
  .about-info {
    padding: 5px;
    margin-left: -50px
  }
}

@media (max-width:600px) {
  .about-info {
    margin-left: 0
  }
}

@media (max-width:400px) {
  .about-info {
    padding: 2px 8px;
    margin-left: -50px
  }
}

@media (max-width:385px) {
  .about-info {
    margin: 0
  }
}

.about-info__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff
}

@media (max-width:991px) {
  .about-info__title {
    font-size: 14px;
    line-height: 17px
  }
}

@media (max-width:650px) {
  .about-info__title {
    font-size: 12px;
    line-height: 15px
  }
}

@media (max-width:500px) {
  .about-info__title {
    font-size: 7px;
    line-height: 10px
  }
}

.about-info__title:not(:last-child) {
  margin-bottom: 10px
}

@media (max-width:991px) {
  .about-info__title:not(:last-child) {
    margin-bottom: 6px
  }
}

@media (max-width:600px) {
  .about-info__title:not(:last-child) {
    margin-bottom: 3px
  }
}

.about-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

@media (max-width:500px) {
  .about-info__item {
    gap: 8px
  }
}

.about-info__item:nth-child(1) .about-info__figure {
  background-color: #268aff
}

.about-info__item:nth-child(2) .about-info__figure {
  background-color: #3dffdc
}

.about-info__item:nth-child(3) .about-info__figure {
  background-color: #36f097
}

.about-info__item:not(:last-child) {
  margin-bottom: 10px
}

@media (max-width:991px) {
  .about-info__item:not(:last-child) {
    margin-bottom: 6px
  }
}

@media (max-width:500px) {
  .about-info__item:not(:last-child) {
    margin-bottom: 3px
  }
}

.about-info__figure {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  height: 20px;
  border-radius: 1px
}

@media (max-width:991px) {
  .about-info__figure {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15px;
    flex: 0 0 15px;
    height: 15px
  }
}

@media (max-width:500px) {
  .about-info__figure {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12px;
    flex: 0 0 12px;
    height: 12px
  }
}

.about-info__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, .6);
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

@media (max-width:991px) {
  .about-info__text {
    font-size: 12px;
    line-height: 14px
  }
}

@media (max-width:650px) {
  .about-info__text {
    font-size: 10px;
    line-height: 12px
  }
}

@media (max-width:500px) {
  .about-info__text {
    font-size: 6px;
    line-height: 9px
  }
}

.about-info__text_2 {
  color: #fff;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.graph {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 600px;
  flex: 0 1 600px
}

@media (max-width:650px) {
  .graph {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.graph__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px
}

@media (max-width:991px) {
  .graph__top {
    gap: 5px
  }
}

@media (max-width:500px) {
  .graph__top {
    gap: 2px
  }
}

.graph__top:not(:last-child) {
  margin-bottom: 10px
}

@media (max-width:600px) {
  .graph__top:not(:last-child) {
    margin-bottom: 5px
  }
}

.graph__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px
}

@media (max-width:500px) {
  .graph__left {
    gap: 2px
  }
}

.graph__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #686868;
  padding-right: 160px;
  text-align: right
}

@media (max-width:1220px) {
  .graph__text {
    padding-right: 130px
  }
}

@media (max-width:991px) {
  .graph__text {
    font-size: 14px;
    line-height: 18px;
    padding-right: 100px
  }
}

@media (max-width:650px) {
  .graph__text {
    font-size: 12px;
    line-height: 16px
  }
}

@media (max-width:600px) {
  .graph__text {
    font-size: 7px;
    line-height: 12px;
    padding: 0;
    text-align: center
  }
}

@media (max-width:400px) {
  .graph__text {
    padding-right: 60px;
    text-align: right
  }
}

@media (max-width:385px) {
  .graph__text {
    text-align: center;
    padding: 0
  }
}

.graph__text_2 {
  white-space: nowrap;
  width: 30px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transform: rotate(-90deg) translateX(-30px);
  -ms-transform: rotate(-90deg) translateX(-30px);
  transform: rotate(-90deg) translateX(-30px);
  padding: 0
}

@media (max-width:991px) {
  .graph__text_2 {
    width: 20px
  }
}

@media (max-width:650px) {
  .graph__text_2 {
    -webkit-transform: rotate(-90deg) translateX(-20px);
    -ms-transform: rotate(-90deg) translateX(-20px);
    transform: rotate(-90deg) translateX(-20px)
  }
}

@media (max-width:500px) {
  .graph__text_2 {
    width: 10px;
    -webkit-transform: rotate(-90deg) translateX(-15px);
    -ms-transform: rotate(-90deg) translateX(-15px);
    transform: rotate(-90deg) translateX(-15px)
  }
}

.graph__graphics {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%
}

.graph__graphics-image {
  position: relative;
  height: 367px
}

@media (max-width:1220px) {
  .graph__graphics-image {
    height: 288px
  }
}

@media (max-width:991px) {
  .graph__graphics-image {
    height: 230px
  }
}

@media (max-width:700px) {
  .graph__graphics-image {
    height: 198px
  }
}

@media (max-width:500px) {
  .graph__graphics-image {
    height: 110px
  }
}

.graph__graphics-image svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.graph-data {
  padding: 10px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

@media (max-width:500px) {
  .graph-data {
    padding: 0
  }
}

.graph-data__item {
  position: relative
}

.graph-data__item:not(:last-child) {
  margin-bottom: 7px
}

@media (max-width:500px) {
  .graph-data__item:not(:last-child) {
    margin-bottom: 2px
  }
}

.graph-data__line {
  position: absolute;
  top: 50%;
  left: 130%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 470px;
  border: 1px dashed rgba(104, 104, 104, .4);
  z-index: 10
}

@media (max-width:1220px) {
  .graph-data__line {
    max-width: 370px
  }
}

@media (max-width:991px) {
  .graph-data__line {
    max-width: 290px
  }
}

@media (max-width:700px) {
  .graph-data__line {
    max-width: 243px
  }
}

@media (max-width:600px) {
  .graph-data__line {
    max-width: 250px
  }
}

@media (max-width:500px) {
  .graph-data__line {
    max-width: 140px
  }
}

@media (max-width:380px) {
  .graph-data__line {
    max-width: 138px
  }
}

.graph-data__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #686868
}

@media (max-width:991px) {
  .graph-data__text {
    font-size: 12px;
    line-height: 16px
  }
}

@media (max-width:600px) {
  .graph-data__text {
    font-size: 8px;
    line-height: 12px
  }
}

.footer {
  padding: 20px 0
}

@media (max-width:600px) {
  .footer {
    padding: 10px 0
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px 30px
}

@media (max-width:991px) {
  .footer__list {
    gap: 15px 20px
  }
}

@media (max-width:600px) {
  .footer__list {
    gap: 5px 10px
  }
}

.footer__list:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:991px) {
  .footer__list:not(:last-child) {
    margin-bottom: 10px
  }
}

@media (max-width:600px) {
  .footer__list:not(:last-child) {
    margin-bottom: 6px
  }
}

.footer__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}

.footer__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 160px;
  height: 50px
}

@media (max-width:991px) {
  .footer__image {
    width: 130px;
    height: 40px
  }
}

@media (max-width:600px) {
  .footer__image {
    width: 110px;
    height: 30px
  }
}

@media (max-width:400px) {
  .footer__image {
    width: 100px;
    height: 16px
  }
}

.footer__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #535353;
  max-width: 600px;
  margin: 0 auto
}

@media (max-width:991px) {
  .footer__text {
    font-size: 14px;
    line-height: 18px
  }
}

@media (max-width:600px) {
  .footer__text {
    font-size: 10px;
    line-height: 14px;
    max-width: 327px
  }
}

@media (max-width:400px) {
  .footer__text {
    font-size: 6px;
    line-height: 12px
  }
}

.footer__text:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:991px) {
  .footer__text:not(:last-child) {
    margin-bottom: 10px
  }
}

@media (max-width:600px) {
  .footer__text:not(:last-child) {
    margin-bottom: 6px
  }
}

@media (max-width:600px) {
  .matches__container {
    padding: 0 8px
  }
}

.matches__item {
  background-color: #f0f0f0;
  border: 2px solid #00e5f9;
  border-radius: 8px;
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto
}

@media (max-width:991px) {
  .matches__item {
    padding: 20px
  }
}

@media (max-width:600px) {
  .matches__item {
    padding: 10px
  }
}

@media (max-width:400px) {
  .matches__item {
    padding: 12px 15px 11px 15px
  }
}

@media (max-width:380px) {
  .matches__item {
    padding: 10px 5px
  }
}

.matches__item:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .matches__item:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .matches__item:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:400px) {
  .matches__item:not(:last-child) {
    margin-bottom: 7px
  }
}

.matches-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 15px
}

.matches-top:not(:last-child) {
  margin-bottom: 35px
}

@media (max-width:991px) {
  .matches-top:not(:last-child) {
    margin-bottom: 25px
  }
}

@media (max-width:600px) {
  .matches-top:not(:last-child) {
    margin-bottom: 16px
  }
}

.matches-top__item:nth-child(1) {
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.matches-top__item:nth-child(3) {
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.matches-top__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  height: 100px;
  margin: 0 auto;
  overflow: hidden
}

@media (max-width:768px) {
  .matches-top__image {
    width: 65px;
    height: 65px;
    padding: 10px
  }
}

@media (max-width:400px) {
  .matches-top__image {
    width: 35px;
    height: 35px;
    padding: 5px
  }
}

.matches-top__image:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .matches-top__image:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .matches-top__image:not(:last-child) {
    margin-bottom: 11px
  }
}

.matches-top__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.matches-top__team {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #05041e;
  text-transform: uppercase
}

@media (max-width:991px) {
  .matches-top__team {
    font-size: 14px;
    line-height: 18px
  }
}

@media (max-width:600px) {
  .matches-top__team {
    font-size: 12px;
    line-height: 16px
  }
}

@media (max-width:400px) {
  .matches-top__team {
    font-size: 8px;
    line-height: 12px
  }
}

.matches-top__league {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #05041e
}

@media (max-width:991px) {
  .matches-top__league {
    font-size: 14px;
    line-height: 18px
  }
}

@media (max-width:600px) {
  .matches-top__league {
    font-size: 12px;
    line-height: 16px
  }
}

@media (max-width:400px) {
  .matches-top__league {
    font-size: 8px;
    line-height: 12px
  }
}

.matches-top__data {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #05041e
}

@media (max-width:991px) {
  .matches-top__data {
    font-size: 14px;
    line-height: 18px
  }
}

@media (max-width:600px) {
  .matches-top__data {
    font-size: 12px;
    line-height: 16px
  }
}

@media (max-width:400px) {
  .matches-top__data {
    font-size: 8px;
    line-height: 12px
  }
}

.middle-top__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #05041e
}

@media (max-width:991px) {
  .middle-top__title {
    font-size: 16px;
    line-height: 20px
  }
}

@media (max-width:600px) {
  .middle-top__title {
    font-size: 14px;
    line-height: 18px
  }
}

@media (max-width:400px) {
  .middle-top__title {
    font-size: 10px;
    line-height: 12px
  }
}

.middle-top__title:not(:last-child) {
  margin-bottom: 50px
}

@media (max-width:991px) {
  .middle-top__title:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .middle-top__title:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:400px) {
  .middle-top__title:not(:last-child) {
    margin-bottom: 20px
  }
}

.middle-top:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .middle-top:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .middle-top:not(:last-child) {
    margin-bottom: 10px
  }
}

.middle-bottom__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #05041e
}

@media (max-width:991px) {
  .middle-bottom__title {
    font-size: 16px;
    line-height: 20px
  }
}

@media (max-width:600px) {
  .middle-bottom__title {
    font-size: 14px;
    line-height: 18px
  }
}

@media (max-width:400px) {
  .middle-bottom__title {
    font-size: 10px;
    line-height: 12px
  }
}

.middle-bottom__title:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .middle-bottom__title:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .middle-bottom__title:not(:last-child) {
    margin-bottom: 10px
  }
}

@media (max-width:400px) {
  .middle-bottom__title:not(:last-child) {
    margin-bottom: 6px
  }
}

.el-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 3px;
  padding: 10px;
  gap: 15px
}

.el-item:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .el-item:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .el-item:not(:last-child) {
    margin-bottom: 10px
  }
}

@media (max-width:400px) {
  .el-item:not(:last-child) {
    margin-bottom: 6px
  }
}

@media (max-width:991px) {
  .el-item {
    gap: 10px;
    padding: 5px
  }
}

@media (max-width:600px) {
  .el-item {
    gap: 5px
  }
}

@media (max-width:400px) {
  .el-item {
    gap: 2px;
    padding: 2px
  }
}

.el-item__logo {
  background-color: #05041e;
  border-radius: 3px;
  padding: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  height: 60px
}

@media (max-width:991px) {
  .el-item__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 140px;
    flex: 0 0 140px;
    height: 40px
  }
}

@media (max-width:600px) {
  .el-item__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    height: 30px;
    padding: 5px
  }
}

@media (max-width:400px) {
  .el-item__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    height: 23px
  }
}

.el-item__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%
}

.el-item__logo a img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.el-item__list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
  grid-template: auto/repeat(3, 1fr);
  gap: 15px
}

@media (max-width:991px) {
  .el-item__list {
    gap: 10px
  }
}

@media (max-width:600px) {
  .el-item__list {
    gap: 5px
  }
}

@media (max-width:400px) {
  .el-item__list {
    gap: 2px
  }
}

.el-item__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  height: 60px;
  padding: 15px
}

@media (max-width:991px) {
  .el-item__item {
    height: 40px;
    padding: 10px
  }
}

@media (max-width:600px) {
  .el-item__item {
    height: 30px;
    padding: 5px
  }
}

@media (max-width:400px) {
  .el-item__item {
    height: 23px;
    padding: 2px
  }
}

.el-item__item_2 {
  background-color: #00e5f9
}

.el-item__item svg {
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

@media (max-width:991px) {
  .el-item__item svg {
    width: 30px;
    height: 30px;
    left: 10px
  }
}

@media (max-width:600px) {
  .el-item__item svg {
    width: 20px;
    height: 20px;
    left: 5px
  }
}

@media (max-width:400px) {
  .el-item__item svg {
    width: 13px;
    height: 13px;
    left: 2px
  }
}

.el-item__kf {
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #05041e
}

@media (max-width:991px) {
  .el-item__kf {
    font-size: 16px;
    line-height: 18px;
    top: -30px
  }
}

@media (max-width:600px) {
  .el-item__kf {
    font-size: 12px;
    line-height: 14px;
    top: -23px
  }
}

@media (max-width:400px) {
  .el-item__kf {
    font-size: 10px;
    line-height: 12px;
    top: -15px
  }
}

.el-item__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #05041e
}

@media (max-width:991px) {
  .el-item__text {
    font-size: 16px;
    line-height: 18px
  }
}

@media (max-width:600px) {
  .el-item__text {
    font-size: 12px;
    line-height: 14px
  }
}

@media (max-width:400px) {
  .el-item__text {
    font-size: 10px;
    line-height: 12px
  }
}

.graph__graphics-image svg .qeq {
  display: block;
  -webkit-animation-name: an;
  animation-name: an;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

@-webkit-keyframes an {
  0% {
    r: 6px;
  }

  50% {
    r: 8px;
  }

  100% {
    r: 6px;
  }
}

@keyframes an {
  0% {
    r: 6px;
  }

  50% {
    r: 8px;
  }

  100% {
    r: 6px;
  }
}